@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./longSvg.css");



:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  color: var(--foreground);
  background: url("../public/images/dot-grid.webp");
  font-family: var(--font-poppins);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.dot-bg{
  background: url("../public/images/dot-grid.webp");
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.primary-btn{
  padding: .75rem;
  background-color: #14b8a6;
	border-radius: 0.5rem;
  color: white;
}

.primary-btn:hover{
  background-color: #0f766e;
  transition: ease-in-out .25s;
  color: white;

}

.secondary-btn{
  padding: .75rem;
  background-color: #65a30d;
	border-radius: 0.5rem;
  color: white;
}

.secondary-btn:hover{
  background-color: #bef264;
  transition: ease-in-out .25s;
  color: white;

}

nav a:hover{
  color: #a3e635;
}

header{
  background: url("../public/images/hero.webp");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  text-shadow: 0px 2px #737373;
}

.poppins{
  font-family: var(--font-poppins);  
}

.gruppo{
  font-family: var(--font-gruppo);  
}

.inter{
  font-family: var(--font-inter);  
}

.container{
  min-height: 100vh!important;
}

.halfSect{
  display: flex;
  width: 100%;
}
.halfSect div{
  display: flex;
}

.bg-gradient{
  background: linear-gradient(135deg, #bef264, #16a34a,#0d9488 ,#0f766e);
}

.bg-gradient-rev{
  background: linear-gradient(45deg, #bef264, #16a34a,#0d9488 ,#0f766e);
}

section ul li{
  display: flex;
}

/* .aboutBg{
  background-image: url("../public/images/about-img.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */

/* ====================================================================== */

.PS, .LT, .BP, .BG{
  background-size: cover!important;
  background-repeat: no-repeat!important;
  background-position: center!important;
  border-radius: 0 0 .5rem .5rem;
}


.PS{
  background: url("../public/images/PS-sect1-about.webp");
  background-position: bottom!important;
}

.LT{
  background: url("../public/images/LT-sect1-about.webp");
}

.BP{
  background: url("../public/images/BP-sect1-about.webp");

}

.BG{
  background: url("../public/images/BG-sect1-about.webp");

}

.sect2-about{
  background: url("../public/images/sect2-about.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.offersHeader{
  background: url("../public/images/section1-offers.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.rules{
  background: url("../public/images/rules.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#calendly-embed > *, #calendly-embed > **{
  overflow-y: hidden !important;
  margin: 0!important;
}


@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.fadeElement {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}


@media (max-width: 1023.98px){
  header{
    background-size: cover;
  }
}